@mixin fontSize($chosenSize){
    font-size: $chosenSize;
    line-height: $chosenSize + 2px;
}

@mixin flexy($dis, $flexFlow, $justify, $center){
    display: $dis;
    flex-flow: $flexFlow;
    justify-content: $justify;
    align-items: $center;
}