
// $fontSize: 10px;
$titleFont: 'Knewave', cursive;
$bodyFont: 'Ubuntu', sans-serif; // * * * * ALSO HAS 500 WEIGHT ONE IN BOLD AND ITALIC    

body{
    // @include fontSize(30px);
    font-family: $bodyFont;
}

p{
    @include fontSize(clamp(1.5rem, 3vw, 2.5rem));
}

p a{
    font-weight: bold;
    font-style: italic;
    
    &:hover, :active{
    text-decoration: underline;
    }
}

h1{
    @include fontSize(clamp(5rem, 9vw, 8rem));
    font-family: $titleFont;
    line-height: clamp(6.5rem, 10vw, 10rem);
    margin: 3% 0;
}

h2, h3{
    @include fontSize(clamp(2rem, 5vw, 3rem));
    margin: 0;
    padding: 2% 0;
    font-weight: bold;
}

.controls button, .redoQuiz button{
    @include fontSize(20px);
    font-family: $bodyFont;
}