
// $fontSize: 10px;
$titleFont: 'Knewave', cursive;
$bodyFont: 'Ubuntu', sans-serif; // * * * * ALSO HAS 500 WEIGHT ONE IN BOLD AND ITALIC    

body{
    @include fontSize(30px);
    font-family: $bodyFont;
}

p{
    @include fontSize(20px);
}

p a{
    font-weight: bold;
    font-style: italic;
    
    &:hover, :active{
    text-decoration: underline;
    }
}

h1{
    @include fontSize(76px);
    font-family: $titleFont;
    line-height: 85px;
    margin: 3% 0;
}

h2, h3{
    @include fontSize(40px);
    margin: 0;
    padding: 2% 0;
    font-weight: bold;
}

aside.controls button{
    @include fontSize(20px);
    font-family: $bodyFont;
}