@import "sass/cssstart";
@import "sass/mixins";
@import "sass/typography";

$green: #1c784a;
$neonGreen: #bcf54c;
$earthToneYellow: #FFD97D;
$blueGreen: #61F2C2;
$blue: #30F2F2;
$white: #FFF;

/* * * * BASICS * * * */

body{
    background-color: $blueGreen;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1{
    text-shadow: 0 0 20px $neonGreen, 0 1px 1px $earthToneYellow;
}

footer{
    background-color: $green;
    color: $white;
    padding: 5px;
    height: 12%;
    flex-shrink: 0;
    width: 100%;
}

.wrapper, .content-wrapper{
    margin: 0 auto;
    max-width: 500px;
    flex: 1 0 auto;
}

.wrapper{
    min-height: calc(100vh - 50vh);
}

/* * * * QUIZ BOX * * * */

.container, form, .dogBreedResult{
    @include flexy(flex, row wrap, center, center);
    width: 100%;
}

.quizContainer{
    background-color: $blueGreen;
}

h2{
    width: 100%;
    color: $white;
    background-color: $green;
}

.dogBreedResult{
    background: $green;
    color: $white;
    margin-bottom: 5%;
}

.dogBreedResult img{
    margin: 0 auto;
    max-height: 500px;
}

.dogBreedResult p{
    padding: 2%;
    margin: 0;
}

/* * * * BOX SHADOW EFFECT BORROWED FROM https://codepen.io/haibnu/pen/FxGsI * * * */
form.quizChoicesOne, form.quizChoicesTwo, form.quizChoicesThree, form.quizChoicesFour, .dogBreedResult{
  	position: relative;
    box-shadow: 0 1px 5px $neonGreen;
}

form.quizChoicesOne::before, form.quizChoicesOne::after, form.quizChoicesTwo::before, form.quizChoicesTwo::after, form.quizChoicesOne::after, form.quizChoicesThree::before, form.quizChoicesThree::after, form.quizChoicesFour::before, form.quizChoicesFour::after, .dogBreedResult::before .dogBreedResult::after{
	content: "";
    position: absolute;
    box-shadow: 0 0 20px $neonGreen;
    top: 10px;
    bottom: 10px;
    z-index: -10;
    animation: fadeIn ease 4s;
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
}

form.quizChoicesOne::before, form.quizChoicesTwo::before, form.quizChoicesThree::before, form.quizChoicesFour::before, .dogBreedResult::before{
    left: 0;
    right: 0;
    border-radius: 100px / 10px;
}

form.quizChoicesOne::after, form.quizChoicesTwo::after, form.quizChoicesThree::after, form.quizChoicesFour::after, .dogBreedResult::after{
	right: 10px;
    left: auto;
    transform: skew(8deg) rotate(20deg);
    animation: fadeIn ease 4s;
} 

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

/* * * * END OF BOX SHADOW EFFECT * * * */

label.answer{
    width: 50%;
}

label.answer [type=radio] + img {
    cursor: pointer;

    &:hover{
        border: 3px groove $earthToneYellow;
    }

    &:active{
        border: 3px groove $earthToneYellow;
    }
}

label.answer input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

label.answer input[type="radio"]:checked + img{
    border: 2px groove $neonGreen;
}

/* * * * QUIZ * * * */

.quizContainerTwo, .quizContainerThree, .quizContainerFour, .dogBreedResult{
    display: none;
}

/* * * * BUTTONS * * * */
.controls, .redoQuiz{
    @include flexy(flex, row wrap, space-between, center);
    width: 100%;
    margin-bottom: 5%;
}

.controls button, .redoQuiz button{
    width: 100%;
    padding: 2% 0;
    background-color: $green;
    border: none;
    color: $white;

    &:hover {
    background: $neonGreen radial-gradient(circle, transparent 1%, $neonGreen 1%) center/15000%;
    color: $green;
    }
    
    &:active {
        background-color: $neonGreen;
        background-size: 100%;
        transition: background 0s;
        color: $green;
    }
}

button:focus-within{
    box-shadow: inset 0 1px 10px $earthToneYellow;
}

.redoQuiz{
    display: none;
}

@media screen and (max-width: 600px) {
  .content-wrapper {
    padding: 0 3%;
  }

  footer{
      height: 10%;
  }
}


